@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
}

/* Style for Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #222222;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #222222 transparent;
}

/* Style for Edge and Internet Explorer */
*::-webkit-scrollbar {
  width: 0.1rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #222222;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #787a91;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  overflow: hidden;
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.form-container h1 {
  margin: 0;
  padding: 0;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 75%;
  width: 100%;
  margin-top: 2.5%;
  overflow-y: scroll;
}

.form-column {
  width: 50%;

  padding-left: 5%;
}

h1 {
  text-align: left;
  color: #141e61;
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: left;
  font-weight: bold;
  color: #141e61;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: 1.2rem;
}

.buttons-export {
  height: 15%;
  display: flex;
  width: 100%;
}

select,
input[type="text"],
input[type="radio"] {
  width: 65%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #787a91;
  border-radius: 4px;
  font-size: 1rem;
}

.next-button {
  display: inline;
  margin: 20px;
  background-color: #141e61;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
}

.next-button:hover {
  background-color: #0f044c;
}

.export-content {
  background-color: #ffffff;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  text-align: left;
  overflow: scroll;
  margin-top: 2.5%;
}

.selected-data-list {
  height: 100%;
  width: 100%;
}

.export-content button {
  display: block;
  background-color: #141e61;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

/* Add styles for the selected data table */
.selected-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.selected-data-table th,
.selected-data-table td {
  border: 1px solid #787a91;
  padding: 8px;
  text-align: left;
}

.selected-data-table th {
  background-color: #141e61;
  color: #ffffff;
}
/* Add styles for the selected data list */
.selected-data-list {
  list-style-type: none;
  padding: 0;
}

.selected-data-list > li {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.selected-data-list h2 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.selected-data-list ul {
  list-style-type: none;
  padding: 0;
}

.selected-data-list li {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.selected-data-list strong {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.clock-postion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
  width: 65%;
}

.clock-box {
  height: 3.2rem;
  width: 25%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  font-family: "Robto", sans-serif;
  font-size: 0.8rem;
}

.clock-box input {
  transform: scale(0.6);
  margin-bottom: 4%;
}

.clocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.tumorsize input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.tumorfoci {
  margin-bottom: 5%;
}

.foci {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.historictype {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 7%;
}

.historictype input {
  width: 53%;
}

.applicable-box {
  height: 3rem;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.applicable-box div {
  font-size: 0.9rem;
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}

.applicable-box label {
  width: 100%;
  align-self: flex-start;
}

.dcis {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 8%;
}

.dcis-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dcis-3 input {
  width: 30%;
}

.tumorExtent {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

#input-his {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.extrasize {
  display: flex;
  flex-direction: row;
  width: 45%;
}

.check-box-size {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 35%;
}

.check-boxs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.check-boxs input {
  margin-top: -0.6rem;
}

.home-page {
  height: 100vh;
  width: 100vw;
}

.uploadfiles {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.microscopic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  color: black;
  height: 85%;
  width: 15%;
}

.microscopic img {
  width: 95%;
  border-radius: 0.5rem;
  margin-top: 2.5%;
}

.upload-file {
  height: 80%;
  width: 50%;
  cursor: pointer;
}

.table-data {
  width: 100%;
  height: 65%;
  overflow-y: scroll;
}

.table-data table {
  width: 100%;
  border-collapse: collapse;
  text-transform: capitalize;
}

.heads-table {
  font-size: 0.7rem;
  color: #fff;
  background-color: #0f044c;
  text-align: left;
  padding: 1% 2%;
  border: 1px solid #fff;
  position: sticky;
  top: -9%; /* Set the top position to 0 to keep it at the top of the container */
  z-index: 2;
}

.description-table {
  padding: 0.2% 1%;
  color: #141e61;
  text-align: left;
  border: 1px solid #222222;
  height: auto;
  cursor: pointer;
  width: 9rem;
  overflow-x: scroll;
  font-size: 0.55rem;
}

tr:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.176);
}

.checks {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  font-size: 0.7rem;
}

.checks input {
  margin-bottom: 5%;
}

.export-content {
  width: 70%;
}

.container {
  perspective: 1000px; /* Perspective for the 3D effect */
}

.microscopic-data {
  width: 25rem;
  height: 10rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc;
  transform: rotateY(0deg); /* Initial rotation angle */
  color: #141e61;
  border-radius: 0.5rem;
}

.input-container {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
}

.microscopic-data:hover {
  color: transparent;
}

.microscopic-data:hover .input-container {
  display: flex;
}

.input-container input {
  width: 90%;
}

.input-container button {
  padding: 2% 3%;
  color: #ffffff;
  background-color: #0f044c;
  border-width: 0;
  border-radius: 0.2rem;
}

.copy-container {
  position: absolute;
  height: auto;
  max-height: 90vh;
  width: auto;
  top: 5%;
  right: 5%;
  overflow-y: scroll;
}

.copy-container button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5% 5%;
  color: #fff;
  border-width: 0;
  background-color: #0f044c;
  border-radius: 0.25rem;
  width: 8rem;
}

.obtainer-data {
  text-align: start;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #222222;
  border-radius: 0.5rem;
}

.obtainer-data p {
  cursor: pointer;
  padding: 2% 3%;
}

.pagenataion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 3.5%;
  padding: 0 25%;
}

.pageSelected {
  color: #fff;
  background-color: #0f044c;
  border-width: 0;
  padding: 0.8% 1.5%;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.6rem;
}

.pageNotSelected {
  color: #0f044c;
  background-color: #fff;
  border-width: 0;
  padding: 0.8% 1.5%;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px #222222;
  cursor: pointer;
  font-size: 0.6rem;
}

.pageNotSelected:hover {
  color: #ffffff;
  background-color: #0f044c;
}

.greybutton {
  color: #fff;
  background-color: #22222290;
  border-width: 0;
  padding: 0.8% 1.5%;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.6rem;
}
